.chart-container {
  display: flex;
  
}

.chart-input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.chart-input-left {
  flex: 0.05;
}
.chart-input-left {
  flex: 0.2;
}